.main-wrapper{
    display: flex;
    flex-direction: column;
}

.chat-page{
    display: flex;
    gap: 5px;
}

.inbox-wrapper{
    max-width: 450px;
    padding: 2rem;
    background-color: #F7F9FA;
    height: 100%;
}

.inbox-text-btn{
    display: flex;
    justify-content: space-between;
}

.inbox-btn{
    padding: .5rem;
    background: none;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 21px -1px rgba(204,204,204,0.51) inset;
    -webkit-box-shadow: 2px 3px 21px -1px rgba(204,204,204,0.51) inset;
    -moz-box-shadow: 2px 3px 21px -1px rgba(204,204,204,0.51) inset;
}

.inbox-tabs{
    height: 100%;
}

.inbox-tabs-inner{
    height: 90%;
    overflow-y: scroll;
    padding-right: 1rem;
}

.inbox-tabs-menu{
    background-color: #dfdfdf;
    margin: 1rem 0;
    margin-bottom: 0;
    padding: .5rem .4rem;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}

.inbox-tabs-menu a{
    padding: .5rem;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #5b5a5a;
}

.inbox-tabs-menu a.active{
    background-color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}


.inbox-msgNew-item,
.inbox-msg-item{
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
}

.inbox-msgNew-item:hover,
.inbox-msg-item:hover{
    background-color: #718ED4;
    border-radius: 20px;
}

.inbox-msg-item{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.inbox-msgNew-item-img img{
    width: 80px;
}

.inbox-msgNew-item-info{
    margin-left: 2rem;
}

.inbox-msgNew-item-info__pref{
    color: #5b5a5a;
}

.inbox-msgNew-item-info__msg{
    color: #5b5a5a;
    font-weight: 600;
}

.inbox-msgNew-item-counter{
    height: 20px;
    width: 20px;
    padding: 1rem;
    background-color: #5271ff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.page-flex-chat{
    height: 100vh;
}

.chat-page{
    flex: 1 1 auto;
    height: 90vh;
    box-sizing: border-box;
}

.message-wrapper{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* message profile */

.msg-profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    padding-left: 2.5rem;
    position: relative;
}

.msg-profile-settings{
    position: absolute;
    right: 2.5rem;
    top: .5rem;
    transform: rotate(90deg);
    cursor: pointer;
}

.msg-profile-info{
    display: flex;
}

.msg-profile-info img{
    height: 80px;
}

.msg-profile-info__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.msg-sched-call{
    display: grid;
    place-items: center;
}

.msg-sched-call-btn{
    border-radius: 20px;
    padding: .5rem 2.5rem;
    background-color: #92ADEF;
    color: #fff;
    display: grid;
    place-items: center;
  }

.chat-page .search-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}


.chat-page .search-wrapper input{
    width: 250px;
}

.msg-box{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    height: 90%;
    background-color: rgb(247,249,250);
}

.msg-box-display{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 1.5rem;
    padding-right: 1rem;
}

.msg-box-display__date{
    position: absolute;
    color: #5b5a5a;
    font-weight: 500;
}


.msg-box-display-bubble{
    max-width: 40%;
    margin-top: 2rem;
}

.msg-box-display-bubble > span{
    font-size: 12px;
}

.msg-bubble{
    margin-top: .5rem;
    background-color: #fff;
    padding: 1rem;
}

.msg-bubble span{
    line-height: 1.5rem;
}

.msg-box-display-bubble.sender{
    align-self: flex-end;
}


.msg-input-compose{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #92ADEF;
}

.msg-input{
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
}


.input-compose{
    width: 100%;
    background-color: #fff !important;
    padding: 1rem;
    outline: 0;
    border: none !important;
    box-shadow: none;
    color: #5b5a5a;
}

.input-compose::placeholder{
    color: #ccc;
}

.input-compose:focus{
    outline: 0;
    border: none !important;
    box-shadow: none;
}


.msg-input-submit-options{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    color: #92ADEF;
}

.msg-input-options{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.fa-paper-plane,
.fa-thumbs-up{
    cursor: pointer;
}

@media only screen and (max-width: 990px){
    .message-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .inbox-text-btn h1{
        font-size: 18px !important;
        display: grid;
        place-items: center;
    }

    .inbox-tabs-menu{
        flex-direction: column;
    }

    .inbox-btn{
        padding: .2rem;
    }

    .msg-box-display-bubble{
        max-width: 80%;
    }

    .inbox-msgNew-item-info{
        display: none;
    }

    .inbox-wrapper{
        padding: 1rem;
    }

    .msg-profile-info{
        order: 1;
    }

    .inbox-msgNew-item, .inbox-msg-item{
        padding: 0;
    }

    .msg-box{
        flex-basis: 100%;
        padding: 1rem;
        height: 70%;
        box-sizing: border-box;
    }

    .msg-profile{
        padding: 0;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
    }

    .search-wrapper{
        width: 85%;
    }

    .msg-sched-call{
        order: 1;
    }

    .chat-page .search-wrapper input{
        width: 100%;
    }

    .msg-sched-call-btn{
        padding: .5rem;
        font-size: 12px;
    }
    
    .msg-profile-settings{
        top: 1.3rem;
    }
}